



{% extends 'base/base.html' %}

{% block title %}IndexViews{% endblock title %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">¡Bienvenido, {{ request.user.username }}!</h1>
                <p class="card-text">Disfruta de tu experiencia personalizada en nuestro sitio.</p>
            </div>
        </div>
    {% else %}
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">¡Bienvenido a la Página Principal!</h1>
                <p class="card-text">Aquí encontrarás información interesante sobre nuestro sitio.</p>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <h2 class="card-title">¡Inicia Sesión para una Experiencia Personalizada!</h2>
                <a href="{% url 'home:login' %}" class="btn btn-primary">Iniciar Sesión</a>
                <p class="card-text">¿No tienes una cuenta? Regístrate <a href="{% url 'home:signup' %}">aquí</a></p>
            </div>
        </div>

    {% endif %}

{% endblock content %}



 