


{% extends "base/base.html" %}

{% block title %}
  LOGIN VIEW
{% endblock title %}

{% block content %}
  <form action="" method="post" class="form">
    {% csrf_token %}
    {{ form }}
    <br><hr>
    <button type="submit" class="btn btn-primary">LogIn</button>
    <a href="{% url 'home:login' %}" class="btn btn-warning">Cancel</a>
  </form>
  <p>Si no tienes una cuenta Registrate <a href="{% url 'home:signup' %}" class="btn btn-link">Aqui</a></p>
{% endblock content %}