{% extends "base/base.html" %}

{% block title %}
  DETAIL PLAYER VIEW
{% endblock title %}

{% block content %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{ jugador.nombre }}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Este es el jugador {{ jugador.nombre }}.</strong> {{ jugador.descripcion }}
        </div>
        
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Información Adicional
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>La posición del jugador es {{ jugador.posicion }}.</strong> Pertenece al equipo {{ jugador.equipo.nombre }}.
          <br>
          <br>
          <a href="{% url 'nfl:list_jugadores' %}">Volver a la lista de jugadores</a> 
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}