{% extends "base/base.html" %}

{% block title %}
  LIST JUGADORES VIEW
{% endblock title %}

{% block content %}
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Posición</th>
            <th>Equipo</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for jugador in object_list %}
                <tr>
                    <td>{{ jugador.id }}</td>
                    <td>{{ jugador.nombre }}</td>
                    <td>{{ jugador.posicion }}</td>
                    <td>{{ jugador.equipo.nombre }}</td>
                    <td><a href="{% url 'nfl:detail_jugador' jugador.id %}" class="btn btn-outline-info">Detail</a></td>
                    <td><a href="{% url 'nfl:update_jugador' jugador.id %}" class="btn btn-outline-warning">Update</a></td>
                    <td><a href="{% url 'nfl:delete_jugador' jugador.id %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'nfl:create_jugador' %}" class="btn btn-outline-success">Agregar Jugador</a>
{% endblock content %}