.navbar img {
    width: auto; /* La imagen no excederá el ancho del contenedor */
    height: 40px;    /* La altura se ajustará automáticamente para mantener la proporción */
  }
  .imagen2 {
    width: 50%;
  }