{% extends "base/base.html" %}

{% block title %}
  DELETE TEAM VIEW
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            <h2>¿Realmente deseas eliminar el equipo: {{ equipo.nombre }}?</h2>
        <a href="{% url 'nfl:list_equipos' %}" class="btn btn-warning">Cancel</a>
        <button type="submit" class="btn btn-danger">Delete Team</button>
    </form>
{% endblock content %}