{% extends "base/base.html" %}

{% block title %}
  DETALLE EQUIPO
{% endblock title %}

{% block content %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{ equipo.nombre }}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Este es el equipo {{ equipo.nombre }}.</strong> {{ equipo.descripcion }}
        </div>
        
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Información Adicional
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>La Ciudad del Equipo es {{ equipo.ciudad }}.</strong> Fue fundado en {{ equipo.fundacion }}.
          <br>
          <br>
          <a href="{% url 'nfl:list_equipos' %}">Volver a la lista de equipos</a> 
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}