{% extends "base/base.html" %}

{% block title %}
  DELETE STADIUM VIEW
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            <h2>¿Realmente deseas eliminar el estadio: {{ estadio.nombre }}?</h2>
        <a href="{% url 'nfl:list_estadios' %}" class="btn btn-warning">Cancel</a>
        <button type="submit" class="btn btn-danger">Delete Stadium</button>
    </form>
{% endblock content %}