{% extends "base/base.html" %}

{% block title %}
  DETALLE ESTADIO
{% endblock title %}

{% block content %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{ estadio.nombre }}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Este es el estadio {{ estadio.nombre }}.</strong> {{ estadio.descripcion }}
        </div>
        
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Información Adicional
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>La Ciudad del Estadio es {{ estadio.ciudad }}.</strong> Tiene una capacidad de {{ estadio.capacidad }} espectadores.
          <br>
          <br>
          <a href="{% url 'nfl:list_estadios' %}">Volver a la lista de estadios</a> 
        </div>
      </div>
    </div>
  </div>
{% endblock content %}