{% extends "base/base.html" %}

{% block title %}
  LIST ESTADIOS VIEW
{% endblock title %}

{% block content %}
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Ciudad</th>
            <th>Capacidad</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for estadio in object_list %}
                <tr>
                    <td>{{ estadio.id }}</td>
                    <td>{{ estadio.nombre }}</td>
                    <td>{{ estadio.ciudad }}</td>
                    <td>{{ estadio.capacidad }}</td>
                    <td><a href="{% url 'nfl:detail_estadio' estadio.id %}" class="btn btn-outline-info">Detail</a></td>
                    <td><a href="{% url 'nfl:update_estadio' estadio.id %}" class="btn btn-outline-warning">Update</a></td>
                    <td><a href="{% url 'nfl:delete_estadio' estadio.id %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'nfl:create_estadio' %}" class="btn btn-outline-success">Agregar Estadio</a>
{% endblock content %}